<events xmlns="http://jelix.org/ns/events/1.0">
    
	<listener name="ecomAuth">
	    <event name="AuthLogin" />
	</listener>
	
	<listener name="ecomDao">
        <event name="daoInsertBefore" />
        <event name="daoInsertAfter" />
	    <event name="daoUpdateBefore" />
        <event name="daoUpdateAfter" />
        <event name="daoDeleteBefore" />
        <event name="daoDeleteByBefore" />
        <event name="daoSpecificDeleteBefore" />
	</listener>
	
</events>
